<header class="animated blog-cover fadeIn" {{#if @settings.cover}}style="background-image: url({{url @settings.cover}})"{{/if}}>
    <h1 class="blog-title">{{@settings.title}}</h1>
    <h2 class="blog-description">{{@settings.tagline}}</h2>
</header>
