{{!-- The tag below includes the header - partials/header.hbs --}}
{{> header}}

<header class="animated fadeIn" {{#if @settings.cover}}style="background-image: url({{url @settings.cover}})"{{/if}}>
    <div class="container" data-stellar-ratio="0.75">
        <div class="title animated fadeInUp">
            <h1>Page Not Found</h1>
        </div>
    </div>
</header>

<article class="animated fadeIn {{post_class}}">
    <div class="container">
        <p>The page you requested could not be found.</p>
    </div>
</article>

{{!-- The tag below includes the footer - partials/footer.hbs --}}
{{> footer}}