{{!-- The tag below includes the header - partials/header.hbs --}}
{{> header}}

{{#tag}}
    <header class="animated fadeIn" {{#if @settings.cover}}style="background-image: url({{url @settings.cover}})"{{/if}}>
        <div class="container" data-stellar-ratio="0.75">
            <div class="title animated fadeInUp">
                <h1>{{name}}</h1>
                {{> share}}
            </div>
            <div class="sidebar text-right meta">
                <div class="published animated fadeInUp">
                    <strong>{{plural pagination.total_items empty="No posts" singular="% article" plural="% articles"}}</strong>
                </div>
            </div>
        </div>
    </header>
{{/tag}}

{{> excerpts}}

{{> pagination}}

{{!-- The tag below includes the footer - partials/footer.hbs --}}
{{> footer}}